---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404 Not Found">
  <section class="pt-[60px]">
    <h1 class="mx-auto text-center text-3xl font-bold">404 Not Found</h1>
  </section>
</MainLayout>
